<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToDodudu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Task3.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark mb-3">
            <div class="container">
                <a class="navbar-brand fw-bold text-light" asp-controller="Home" asp-action="Index">ToDodudu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                        aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Todo" asp-action="Index">My List</a>
                        </li>
                    </ul>

                    <div class="d-flex align-items-center">
                        @if (Context.Session.GetString("username") != null)
                        {
                            <span class="text-light me-3">
                                Hi, @Context.Session.GetString("name")
                            </span>
                            <a asp-controller="Account" asp-action="Logout" class="btn btn-sm btn-outline-light">Logout</a>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Login" class="btn btn-sm btn-outline-light me-2">Login</a>
                            <a asp-controller="Account" asp-action="Register" class="btn btn-sm btn-outline-success">Register</a>
                        }
                    </div>
                </div>
            </div>
        </nav>



    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ToDodudu - Truong Phu Cuong
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
